<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zys.chartsketchtool" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChartSketchTool</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- 跨域 -->
    <access origin="*" />
    <allow-navigation href="*"/>

    <platform name="android">
        <!-- APP 图标 -->
        <!-- <icon src="res/icon/android/mipmap-ldpi/ic_launcher.png" density="ldpi" /> -->
        <icon src="res/icon/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/icon/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/icon/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />

        <!-- DEBUG：增加 xmlns:tools 以便后续申请 MANAGE_EXTERNAL_STORAGE -->
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest">
            <manifest xmlns:tools="http://schemas.android.com/tools" />
        </edit-config>

        <!-- 权限声明 -->
        <config-file parent="/*" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" /><!--added 2022-2-11 Android11-->
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <!-- <uses-feature android:name="android.hardware.camera" android:required="true" /> -->
        </config-file>
    </platform>

    <!-- Toast -->
    <feature name="Toast">
        <!-- for Android -->
        <param name="android-package" value="nl.xservices.plugins.Toast" />
    </feature>

    <preference name="android-targetSdkVersion" value="34" />
    <!-- <preference name="cordova.plugins.diagnostic.modules" value="CAMERA EXTERNAL_STORAGE" /> -->
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidExtraFilesystems" value="files-external,files,documents,sdcard,cache,cache-external,assets,root" />
    <!-- <preference name="iosPersistentFileLocation" value="Compatibility" />
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" /> -->
</widget>
