/* @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Source+Sans+Pro:400,600'); */
@import url('font.css');
@import url('normalize.css');
@import url('wenk.min.css');
@import url('lity.min.css');
@import url('jquery.ezdz.min.css');
@import url('jquery.minicolors-2.1.2.css');
@import url('jquery.minicolors-2.1.2.css');

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* font-size: calc(100vw / 80); */
}

@media screen and (orientation: landscape) {
    html {
        font-size: calc(100vw / 80); /* 横屏时的字体大小 */
    }

    .draweditor-area {
        width: 100vw;
        height: 96vh;
        gap: 2rem;
    }
    .left-column {
        flex-basis: 40vw;
    }
    .right-column {
        flex-basis: 50vw;

        display: flex;
        gap: 0.25rem;
    }
    .wrap-canvas {
        flex: none;
    }
    .wrap-canvas-buttons {
        flex: none;

        display: flex;
        flex-direction: column;
    }
}

@media screen and (orientation: portrait) {
    html {
        font-size: calc(100vw / 20); /* 竖屏时的字体大小 */
    }

    .draweditor-area {
        width: 96vw;
        height: 100vh;
        gap: 1rem;
        flex-direction: column;
    }
    .left-column {
        flex-basis: 16rem;
    }
    .right-column {
        flex-basis: 18rem;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .wrap-canvas {
        flex: none;
    }
    .wrap-canvas-buttons {
        flex: none;
    }
}


*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.05px;
    line-height: 1.5;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #eee;
    
    font-family: 'Source Sans Pro', sans-serif;
    color: #717f86;

    /* 禁用原始手势处理 */
    touch-action: none;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.page_wrapper {
    display: none;
}


.draweditor-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}

.left-column {
    width: 100%;
    text-align: center;
}

.wrap-insight-text {
    text-align: left;
    font-size: 20px;
}

.right-column {
    text-align: center;
}

/* .ezdz-dropzone {
    width: auto !important;
} */

#c {
    outline: 5px dashed #b1b1b1;
}

button,
#save {
    color: #fff;
    background: rgba(234, 144, 133, 1);
    /* font-size: 16px; */
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.wrap-modes button:not(.active) {
    background: lightgray;
}

button:hover,
#save:hover {
    background: rgba(234, 144, 133, .85);
}

input[type="text"],
select {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

input[type="text"]:hover,
input[type="text"]:focus,
select:hover,
select:focus {
    border: 1px solid #EA9085 !important;
}


/* color picker stylings */

[data-control="hue"] {
    height: 30px !important;
    border-radius: 5px !important;
    border: 1px solid lightgrey;
}


/* end color picker stylings */


/* wrap-area gaps */

.ezdz-dropzone {
    height: 100px !important;
    border: 10px dotted lightgray !important;
    border-radius: 5px !important;
}

.ezdz-dropzone p {
    position: relative;
    top: 25px;
}

.wrap-index {
    display: flex;
    button {
        flex: none;
    }
    .index-title {
        flex: auto;
    }
}

.wrap-canvas-background-color,
.wrap-text {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.wrap-delete {
    margin-top: 10px;
    padding-top: 10px;
}

.wrap-save {
    margin-top: 20px;
}


/*end wrap-area gaps */

.wrap-text {
    text-align: left;
}

.wrap-text #text {
    width: 100%;
    height: 40px;
    padding: 3px 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.wrap-text select {
    float: right;
    width: 50%;
    height: 40px;
    padding: 3px 6px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.wrap-range {
    margin-top: 10px;
    text-align: left;
}

.wrap-range input[type="range"] {
    width: 70%;
    position: relative;
    top: 6px;
}

.wrap-range input[type="text"] {
    float: right;
    width: 40px;
    padding: 3px 6px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.wrap-draw-color {
    float: left;
    margin-top: 10px;
}

/* footer {
    margin-top: 75px;
    margin-bottom: 10px;
    font-size: 15px;
}

footer p {
    display: inline-block;
}

footer p.about {
    margin-left: 30px;
}

#about {
    max-width: 500px;
    padding: 30px 20px;
    border-radius: 5px;
    border: 2px solid #555;
}

#about p {
    font-size: 18px;
} */

.svg-icon {
    width: 15px;
    position: relative;
    top: 2px;
}