/* @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Source+Sans+Pro:400,600'); */
@import url('font.css');
@import url('normalize.css');
@import url('wenk.min.css');
@import url('lity.min.css');
@import url('jquery.ezdz.min.css');
@import url('jquery.minicolors-2.1.2.css');
@import url('jquery.minicolors-2.1.2.css');

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* font-size: calc(100vw / 80); */
}


/* 移动端竖屏 */
@media screen and (max-width: 768px) {
    td {
        word-break: break-all;
        /* 长单词中断换行 */
    }

    .wrap-insight-text {
        font-size: 18px;
    }

    .prompt {
        font-size: 14px;
    }
}

/* 移动端竖屏以外 */
@media screen and (min-width: 769px) {
    .wrap-insight-text {
        font-size: 22px;
    }

    .prompt {
        font-size: 18px;
    }
}

/* 横屏 */
@media screen and (orientation: landscape) {
    html {
        font-size: calc(100vw / 80);

    }

    #color-picker {
        top: 0;
        left: 50vw;
    }

    .draweditor-area {
        width: 100vw;
        height: 96vh;
        gap: 2rem;
    }

    .left-column {
        flex-basis: 40vw;
    }



    .right-column {
        flex-basis: 50vw;

        display: flex;
        gap: 0.25rem;
    }

    .wrap-canvas {
        flex: none;
    }

    .wrap-canvas-buttons {
        flex: none;

        display: flex;
        flex-direction: column;
    }
}

/* 竖屏 */
@media screen and (orientation: portrait) {
    html {
        font-size: calc(100vw / 20);
    }

    #color-picker {
        left: 0;
        top: 36vh;
    }

    .draweditor-area {
        width: 96vw;
        height: 100vh;
        gap: 1rem;
        flex-direction: column;
    }

    .left-column {
        flex-basis: 16rem;
    }

    .right-column {
        flex-basis: 18rem;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    .wrap-canvas {
        flex: none;
    }

    .wrap-canvas-buttons {
        flex: none;
    }
}


*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #f9f9f9;

    font-family: 'Source Sans Pro', sans-serif;
    color: #717f86;

    /* 禁用原始手势处理 */
    touch-action: none;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.page_wrapper {
    display: none;
}

.container-fluid {}

.draweditor-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}

.left-column {
    width: 100%;
    height: 100%;
    text-align: center;
}

.wrap-index {
    font-size: 32px;
    font-weight: bold;


    display: flex;
}

#previous,
#next {
    flex: none;
    /* display: inline-block; */
}

.id-title {
    flex: auto;
    /* display: inline-block; */
}

#current-id {
    background-color: transparent;
    border-width: 0 0 2px;
    border-color: #ff7a7a;

    text-align: center;
    color: #ff7a7a;
}

#max-id {
    /* text-align: left; */
}

#current-id,
#max-id {
    display: inline-block;
    width: 3em;
}




.wrap-insight-text {
    margin: 1rem 0.5em;


    text-align: justify;
    /* font-size: 20px; */
}

table {
    margin: 1rem 0;
}

.prompt {
    text-align: justify;
    /* font-size: 18px; */
    color: #a1adb3;
}

.right-column {
    text-align: center;
}

/* .ezdz-dropzone {
    width: auto !important;
} */

#c {
    outline: 5px dashed #a1adb3;
}

/* 隐藏上下箭头 */
input[type=number] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    -moz-appearance: textfield;

}

button {
    color: #fff;
    background: #a1c0b2;
    /* font-size: 16px; */
    border: none;
    padding: 12px;
    line-height: 0;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

th {
    text-align: left;
    vertical-align: top;
}

td {
    text-align: justify;
    vertical-align: top;
}

.wrap-canvas-buttons {
    display: flex;
    gap: 2px;
}

#pick-brush {
    background-color: #ffffff00;
    /* width: 40px;
    height: 40px; */
    padding: 0;
    border: 2px solid #a1c0b2;
    vertical-align: bottom;
}

#save {
    background-color: #ff7a7a;
}


.picker {
    /* 初始隐藏 */
    display: none;

    position: fixed;
    z-index: 1000;

    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px #b5b5b5;
    padding: 5px;
}

#picker {
    top: 0;
}

.svg-icon {
    width: 16px;
    height: 16px;
    position: relative;
}